<header class="page-header text-center login-header">
  <h1>K.O. - Anmeldung</h1>
</header>

<div class="text-center login-form">
  <form {{action 'authenticate' on='submit'}}>
    <div class="form-group">
      <div class="input-group">
        <label for="loginInputIdent" class="input-group-addon">{{fa-icon "user"}}</label>
        {{input value=ident placeholder="Uni-Kennung" class="form-control" elementId="loginInputIdent"}}
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="loginInputPassword" class="input-group-addon">{{fa-icon "key"}}</label>
        {{input value=password placeholder="Passwort" class="form-control" type="password" elementId="loginInputPassword"}}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Anmelden{{fa-icon "sign-in"}}</button>
  </form>
  {{#if errorMessage}}
    <div class="alert alert-danger">
      <strong>Anmeldung fehlgeschlagen:</strong> {{errorMessage}}
    </div>
  {{/if}}
</div>
