<audio id="korrektOida" src="korrekt-oida.m4a"></audio>

<div class="row">
  <header class="col-md-12">
    <h1>{{model.name_with_namespace}}</h1>
  </header>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="members table table-hover table-striped">

      <thead>
        <tr>
          <th class="user-col">Name</th>
          <th class="rater-col">Bewerten</th>
          <th class="ko-col">K.O.</th>
        </tr>
      </thead>

      <tbody>

        {{#each model.members as |member|}}
          <tr>

            <td class="user-col">
              <img src="{{member.avatar_url}}" class="avatar">
              {{link-to member.name "member" member}}
            </td>

            <td class="rater-col">
              {{member-rater member=member action="ko"}}
            </td>

            <td class="{{member.sanity}} text-{{member.sanity}} ko-col">
              {{member.koSum}}/{{member.currentMilestone}}
            </td>

          </tr>
        {{/each}}

      </tbody>

    </table>

    {{fa-icon "smile-o"}} = 1 K.O., {{fa-icon "meh-o"}} = ½ K.O., {{fa-icon "frown-o"}} = 0 K.O.

  </div>
</div>

{{outlet}}
