<div class="row">
  <header class="col-md-12">
    <h2>{{model.name_with_namespace}}</h2>
  </header>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="members table table-hover table-striped">

      <thead>
        <tr>
          <th class="user-col">Name</th>
          <th class="rater-col">Bewerten</th>
          <th class="ko-col">K.O.</th>
        </tr>
      </thead>

      <tbody>

        {{#each model.members as |member|}}
          <tr>

            <td class="user-col">
              <img src="{{member.avatar_url}}" class="avatar">
              {{link-to member.name "member" member}}
            </td>

            <td class="rater-col">
              {{member-rater member=member action="ko" onRevoke="revoke"}}
            </td>

            <td class="bg-{{member.sanity}} text-{{member.sanity}} ko-col">
              {{#if member.failed}}
                <i class="icon-skull fa-2x"></i>
              {{else}}
                {{member.koSum}}/{{member.currentMilestone}}
                {{#if member.hasPretest}}
                  + {{member.pretest.ko}}
                {{/if}}
              {{/if}}
            </td>

          </tr>
        {{/each}}

      </tbody>

    </table>

    {{fa-icon "smile-o"}} = 1 K.O., {{fa-icon "meh-o"}} = ½ K.O., {{fa-icon "frown-o"}} = 0 K.O., <i class="icon-skull"></i> Durchfall, {{fa-icon "undo"}}: Letzte Bewertung zurücknehmen

  </div>
</div>

{{outlet}}
