<header>
  <h1>{{model.name_with_namespace}}</h1>
</header>
<table class="members">

  <thead>
    <tr>
      <th>Name</th>
      <th>Korrekt Oidas</th>
      <th>Bewerten</th>
    </tr>
  </thead>

  <tbody>

    {{#each model.members as |member|}}
      <tr>

        <td>
          <img src="{{member.avatar_url}}" class="avatar">
          {{link-to member.name "member" member}}
        </td>

        <td class="{{member.sanity}}">
          {{member.koSum}}/{{member.currentMilestone}}
        </td>

        <td>
          {{member-rater member=member action="ko"}}
        </td>

      </tr>
    {{/each}}

  </tbody>

</table>

{{outlet}}
