<div class="row">
  <header class="col-md-12 team-select">
    <div class="input-group">
      {{input elementId="teamFilter" value=teamFilter classNames="form-control" placeholder="Suche Team"}}
      <div class="input-group-addon">{{fa-icon "search"}}</div>
    </div>

    {{#if teamFilter}}
      <ul class="dropdown-menu results">
        {{#each filteredTeams as |team|}}
          <li>
            {{link-to team.name_with_namespace "team" team.namespace.path team.path}}
          </li>
        {{else}}
          <li class="text-center"><em>Kein team gefunden</em></li>
        {{/each}}
      </ul>
    {{/if}}

  </header>
</div>

<div class="row teams">
  <div class="col-md-12">
    {{#each groups as |group|}}
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <h3 class="panel-title">Gruppe {{group.number}}</h3>
                </th>
                {{!-- <!-- TODO: Somehow get all members of the group to show team statistics -->
                <th class="text-success">{{fa-icon "smile-o"}}</th>
                <th class="text-warning">{{fa-icon "meh-o"}}</th>
                <th class="text-danger">{{fa-icon "frown-o"}}</th>
                <th class="text-fail"><i class="icon-skull"></i></th>--}}
              </tr>
            </thead>
            <tbody>
              {{#each group.teams as |team|}}
                <tr>
                  <td>
                    {{#link-to "team" team.namespace.path team.path}}
                      <span>{{team.name}}</span>
                    {{/link-to}}
                  </td>
                  {{!--<td></td>
                  <td></td>
                  <td></td>
                  <td></td>--}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}
  </div>
</div>
